:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 2784px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1920px;
  height: 100px;
  margin: 0 0 0 0;
  background: rgba(37, 152, 159, 0.83);
  z-index: 39;
}
.shutter-story {
  position: absolute;
  width: 327.062px;
  height: 71.144px;
  top: 11px;
  left: 22.971px;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 71.144px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 49;
}
.shutter {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}
.story {
  position: relative;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}
.account {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 33px;
  left: 1818px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.account-alert-outline {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 36px;
  left: 1453px;
  z-index: 46;
  overflow: hidden;
}
.shopping-cart-outlined {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 36px;
  left: 1730px;
  z-index: 47;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 24.53px;
  height: 22.058px;
  margin: 3.555px 0 0 1.673px;
  background: url(./assets/images/2c204a39-a6b7-4f34-a3d9-fd8f4c944ed0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.photography-service-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 38px;
  left: 925px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 38px;
  left: 1149px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 44;
}
.shop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 38px;
  left: 828px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  top: 39px;
  left: 724px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.rectangle-2 {
  position: relative;
  width: 1920px;
  height: 316px;
  margin: 0 0 0 0;
  background: url(./assets/images/30a81f05-bbd2-49fc-8c5c-0baa7ab704f3.png)
    no-repeat center;
  background-size: cover;
  z-index: 5;
  overflow: visible auto;
}
.rectangle-3 {
  position: relative;
  width: 1440px;
  height: 316px;
  margin: 0 0 0 0;
  background: url(./assets/images/101c2103-b1d7-447c-b7f2-9c9fe18b9dc1.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.meubel-house-logos {
  position: absolute;
  width: 77px;
  height: 77px;
  top: 61px;
  left: 50%;
  background: url(./assets/images/2727769ba74736d502746301ed573ed8940fc322.png)
    no-repeat center;
  background-size: cover;
  transform: translate(262.34%, 0);
  z-index: 8;
}
.photography-service-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 503px;
  height: 72px;
  top: 122px;
  left: calc(50% - 11px);
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}
.rectangle-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1920px;
  height: 100px;
  margin: 47px 0 0 0;
  cursor: pointer;
  background: #faf4f4;
  border: none;
  z-index: 12;
}
.photography-service-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 503px;
  height: 72px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.wedding-reception-dinner-engagement {
  display: block;
  position: relative;
  height: 54px;
  margin: 120px 0 0 76px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.flex-row {
  position: relative;
  width: 1751px;
  height: 603px;
  margin: 15px 0 0 121px;
  z-index: 53;
}
.basic-package-photography {
  position: absolute;
  width: 871px;
  height: 594px;
  top: 0;
  left: 0;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 34;
}
.basic-package {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}
.basic-package-photography-unlimited-photos {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  text-align: left;
}
.regroup {
  position: absolute;
  width: 406px;
  height: 603px;
  top: 0;
  left: 1345px;
  z-index: 53;
}
.contact-us {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 215px;
  height: 72px;
  top: 531px;
  left: 191px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  text-overflow: initial;
  z-index: 53;
  overflow: hidden;
}
.rm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 54px;
  top: 540px;
  left: 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 900;
  line-height: 54px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1751px;
  height: 702px;
  margin: 49px 0 0 121px;
  z-index: 54;
}
.value-package-photography {
  flex-shrink: 0;
  position: relative;
  width: 898px;
  height: 702px;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 35;
}
.value-package {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
}
.text-f {
  position: relative;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  text-align: left;
}
.regroup-7 {
  flex-shrink: 0;
  position: relative;
  width: 406px;
  height: 702px;
  z-index: 54;
}
.contact-us-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 215px;
  height: 72px;
  top: 626px;
  left: 191px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  text-overflow: initial;
  z-index: 54;
  overflow: hidden;
}
.rm-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 54px;
  top: 634px;
  left: 0;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 36px;
  font-weight: 900;
  line-height: 54px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.flex-row-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 99px;
  height: 32px;
  margin: 95px 0 0 949px;
  z-index: 52;
}
.number-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 10px;
  height: 32px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 52;
}
.number-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 32px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 50;
}
.number-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 17px;
  height: 32px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 51;
}
.rectangle-b {
  position: relative;
  width: 1920px;
  height: 40px;
  margin: 19px 0 0 0;
  background: url(./assets/images/3f2c854b-a693-4d37-9eed-d62dc0f9bf69.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.links {
  display: block;
  position: relative;
  height: 24px;
  margin: 36px 0 0 683.007px;
  color: #9f9f9f;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.rectangle-c {
  position: relative;
  width: 1440px;
  height: 555px;
  margin: 38px 0 0 0;
  background: #ffffff;
  z-index: 15;
  overflow: visible auto;
}
.flex-row-fe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 328.993px;
  height: 24px;
  margin: 17px 0 0 685.007px;
  z-index: 29;
}
.home-d {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.photography-service-e {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.flex-row-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 263.993px;
  height: 24px;
  margin: 46px 0 0 685.007px;
  z-index: 30;
}
.shop-f {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.rental-policy {
  flex-shrink: 0;
  position: relative;
  height: 24px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.about {
  display: block;
  position: relative;
  height: 24px;
  margin: 46px 0 0 685.007px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.contact-10 {
  display: block;
  position: relative;
  height: 24px;
  margin: 45px 0 0 685.007px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.line {
  position: relative;
  width: 1240.015px;
  height: 1px;
  margin: 47px 0 0 100px;
  background: url(./assets/images/72f71663-ab3d-41d2-bbe2-557b1fb7b497.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.shutterstory-all-rights-reserved {
  display: block;
  position: relative;
  height: 24px;
  margin: 35px 0 0 102.007px;
  color: #000000;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
