:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  a{
    text-decoration: none;
  }
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1920px;
    height: 2501px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .rectangle {
    position: relative;
    width: 1920px;
    height: 100px;
    margin: 0 0 0 0;
    background: rgba(37, 152, 159, 0.83);
    z-index: 2;
  }
  .shutter-story {
    position: absolute;
    width: 327.16px;
    height: 71.144px;
    top: 12px;
    left: 26px;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 71.144px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 4;
  }
  .shutter {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
  }
  .story {
    position: relative;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
  }
  .search {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 32px;
    left: 1631px;
    z-index: 75;
    overflow: hidden;
  }
  .vector {
    position: relative;
    width: 24.167px;
    height: 24.167px;
    margin: 1.333px 0 0 1.333px;
    background: url(./assets/images/ebcc338e-13a5-4071-8a3b-8fbcd076902a.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 76;
  }
  .shopping-cart-outlined {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 32px;
    left: 1731px;
    z-index: 77;
    overflow: hidden;
  }
  .vector-1 {
    position: relative;
    width: 24.53px;
    height: 22.058px;
    margin: 3.555px 0 0 1.673px;
    background: url(./assets/images/a89d52eb-cd0c-44f6-89fc-34870fcf2fae.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 78;
  }
  .account {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 33px;
    left: 1818px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .home {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 37px;
    left: 685px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 7;
  }
  .rental-service {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 38px;
    left: 953px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .account-alert-outline1 {
    position: absolute;
    width: 65px;
    height: 28px;
    top: 38px;
    left: 1149px;
    z-index: 74;
    overflow: hidden;
  }
  .contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 65px;
    height: 28px;
    top: 38px;
    left: 1149px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .shop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 38px;
    left: 822px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }
  .rectangle-2 {
    position: relative;
    width: 1920px;
    height: 316px;
    margin: 0 0 0 0;
    background: url(./assets/images/148194dd-29c5-49ba-92f9-60bc4cb5caa4.png)
      no-repeat center;
    background-size: cover;
    z-index: 11;
  }
  .meubel-house-logos {
    position: absolute;
    width: 102.667px;
    height: 77px;
    top: 81px;
    left: 910px;
    background: url(./assets/images/2727769ba74736d502746301ed573ed8940fc322.png)
      no-repeat center;
    background-size: cover;
    z-index: 14;
  }
  .registration-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 450.667px;
    height: 72px;
    top: 139px;
    left: 735px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: center;
    white-space: nowrap;
    z-index: 13;
  }
  .flex-row-a {
    position: relative;
    width: 1444px;
    height: 760px;
    margin: 0 0 0 147px;
    z-index: 38;
  }
  .rectangle-4 {
    position: absolute;
    width: 1440px;
    height: 760px;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 16;
  }
  .flex-row {
    position: relative;
    width: 1285px;
    height: 673px;
    margin: 58px 0 0 29px;
    z-index: 43;
  }
  .rectangle-5 {
    position: absolute;
    width: 608px;
    height: 630px;
    top: 0;
    left: 0;
    font-size: 0px;
    background: #ffffff;
    z-index: 18;
  }
  .register {
    display: block;
    position: relative;
    height: 54px;
    margin: 35px 0 0 75px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
  }
  .username {
    display: block;
    position: relative;
    height: 24px;
    margin: 36px 0 0 77px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
  }
  .rectangle-6 {
    position: relative;
    width: 423px;
    height: 75px;
    margin: 22px 0 0 78px;
    background: #ffffff;
    border: 1px solid #9f9f9f;
    z-index: 28;
    border-radius: 10px;
  }
  .email-address {
    display: block;
    position: relative;
    height: 24px;
    margin: 27px 0 0 77px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
  }
  .rectangle-7 {
    position: relative;
    width: 423px;
    height: 75px;
    margin: 22px 0 0 78px;
    background: #ffffff;
    border: 1px solid #9f9f9f;
    z-index: 41;
    border-radius: 10px;
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 22px;
    position: relative;
    width: 424px;
    margin: 23px 0 0 77px;
    z-index: 19;
  }
  .password {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
  }
  .rectangle-8 {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 75px;
    background: #ffffff;
    border: 1px solid #9f9f9f;
    z-index: 21;
    border-radius: 10px;
  }

  .login-input {
    width: 72%;
    height: 75px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    background: none;
    padding-left: 10px;
    border-radius: 10px;
  }

  .add-input {
    width: 72%;
    height: 75px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    background: none;
    padding-left: 10px;
    padding-bottom: 40px;
    border-radius: 10px;
  }

  .address {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 125px;
    left: 991px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 29;
  }
  .frame-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 22px;
    position: absolute;
    width: 424px;
    height: 121px;
    top: 552px;
    left: 77px;
    z-index: 43;
  }
  .confirm-password {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    min-width: 0;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 44;
  }
  .rectangle-a {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    min-width: 0;
    height: 75px;
    background: #ffffff;
    border: 1px solid #9f9f9f;
    z-index: 45;
    border-radius: 10px;
  }
  .zip-code {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 564px;
    left: 990px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .state {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 564px;
    left: 1237px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 31;
  }
  .rectangle-b {
    position: absolute;
    width: 178px;
    height: 44px;
    top: 613px;
    left: 991px;
    background: url(./assets/images/7a577a3c-93c7-4af6-91e8-f2edeb3ce1a0.png)
      no-repeat center;
    background-size: cover;
    z-index: 37;
  }
  .country {
    display: block;
    position: relative;
    height: 24px;
    margin: 3px 0 0 1021px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
  }
  .rectangle-c {
    position: absolute;
    width: 423px;
    height: 75px;
    top: 229px;
    left: 1021px;
    background: url(./assets/images/51269925-a540-43b6-a177-bcdc6563bfaf.png)
      no-repeat center;
    background-size: cover;
    z-index: 33;
  }
  .rectangle-d {
    position: absolute;
    width: 423px;
    height: 75px;
    top: 377px;
    left: 1021px;
    background: url(./assets/images/f729aa17-e42f-4fdc-916f-2df730beb8c9.png)
      no-repeat center;
    background-size: cover;
    z-index: 34;
  }
  .rectangle-e {
    position: absolute;
    width: 423px;
    height: 75px;
    top: 522px;
    left: 1021px;
    background: url(./assets/images/5d9e4e2c-f439-4bc6-8094-564660932d05.png)
      no-repeat center;
    background-size: cover;
    z-index: 35;
  }
  .rectangle-f {
    position: absolute;
    width: 178px;
    height: 44px;
    top: 671px;
    left: 1266px;
    background: url(./assets/images/51412d0e-384a-4e85-b634-d3ddea8cff44.png)
      no-repeat center;
    background-size: cover;
    z-index: 38;
  }
  .rectangle-10 {
    position: relative;
    width: 423px;
    height: 33px;
    margin: 18px 0 0 1166px;
    background: url(./assets/images/944cfc6b-9006-443a-a229-bb6fb3df4c21.png)
      no-repeat center;
    background-size: cover;
    z-index: 36;
  }
  .personal-data {
    position: relative;
    width: 577px;
    height: 72px;
    margin: 163px 0 0 686px;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    z-index: 42;
  }
  .personal-data-11 {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  .privacy-policy {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
  }
  .rectangle-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 215px;
    height: 64px;
    margin: 24px 0 0 867px;
    border: 1px solid #000000;
    z-index: 24;
    border-radius: 15px;
  }
  .register-13 {
    flex-shrink: 0;
    position: relative;
    height: 66px;
    width: 229px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 17px;
    white-space: nowrap;
    z-index: 24;
}
  .rectangle-14 {
    position: relative;
    width: 1920px;
    height: 300px;
    margin: 114px 0 0 0;
    background: #faf4f4;
    z-index: 53;
  }
  .secure-payment {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 48px;
    top: 96px;
    left: 1369.333px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 52;
  }
  .free-delivery {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 48px;
    top: 96px;
    left: 417.333px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    white-space: nowrap;
    z-index: 49;
  }
  .orders-over-rm500 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 144px;
    left: 417.333px;
    color: #9f9f9f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
  }
  .secure-payment-15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 144px;
    left: 1369.333px;
    color: #9f9f9f;
    font-family: Poppins, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 53;
  }
  .quick-links {
    display: block;
    position: relative;
    height: 24px;
    margin: 87px 0 0 683.007px;
    color: #9f9f9f;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 65;
  }
  .flex-row-ca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 457.993px;
    height: 24px;
    margin: 55px 0 0 685.007px;
    z-index: 68;
  }
  .home-16 {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 61;
  }
  .photography-service {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
  }
  .flex-row-cd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 392.993px;
    height: 24px;
    margin: 46px 0 0 685.007px;
    z-index: 69;
  }
  .shop-17 {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 62;
  }
  .rental-policy {
    flex-shrink: 0;
    position: relative;
    height: 24px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 69;
  }
  .about {
    display: block;
    position: relative;
    height: 24px;
    margin: 46px 0 0 685.007px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 63;
  }
  .contact-18 {
    display: block;
    position: relative;
    height: 24px;
    margin: 45px 0 0 685.007px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 64;
  }
  .line {
    position: relative;
    width: 1240.015px;
    height: 1px;
    margin: 47px 0 0 100px;
    background: url(./assets/images/468121b8-eefb-4422-8de0-6c9213890925.png)
      no-repeat center;
    background-size: cover;
    z-index: 71;
  }
  .rights-reserved {
    display: block;
    position: relative;
    height: 24px;
    margin: 28px 0 0 100px;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 72;
  }
  